.footer-container{
    background: url('./WhatsApp\ Image\ 2023-03-21\ at\ 15.56.06\ \(1\).jpeg') no-repeat  ;
    background-size: cover;
    color: white;
    transition: all 0.2s ease-in-out;
    // color: #010c10;
    //  background: rgb(206, 246, 248);
    display: flex;
    justify-content: center;
    gap:2vw;
    
    width: 100%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 20px;
    
    .main{
        display: flex;
        justify-content: space-between;
        
        span{
            padding-right: 200px;
        }
    }
    .second-side{
        display: flex;
        gap: 2vw;
    }
    .first-slide{
        display: flex;
        flex-direction: column;
       
        width: 30%;
        margin-left: 10px;
         h2{
            text-transform: uppercase;
        }
    }
    .icons{
        display: flex;
        gap: 1vw;
        span{
            cursor: pointer;
            transition: all 0.2s ease;
            font-size: 30px;
            
        }
        span:hover{
            transform: scale(1.1);
        }
    }
    .spans{
        display: flex;
        flex-direction: column;
        gap:10px;
    }
    h2{
        margin-bottom: 20px;
    }
    div p{
        font-size: calc(0.6rem + 0.4vw);
    }
    div div span{
        font-size: calc(0.6rem + 0.4vw);
    }
    div h2{
        font-size: 1.3rem;
    }
}
@media screen and (max-width: 768px) {
    .footer-container{
 flex-direction: column;
    justify-content: center;
    align-items: center;
    .first-slide{
        width: 95%;
    }
    .second-side{
        display: flex;
        gap: 2vw;
    }
    }

  }